[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==3.1.0"
django-cors-headers = "==3.4.0"
djangorestframework = "==3.11.1"
djangorestframework-simplejwt = "==4.6.0"
djoser = "==2.0.3"
python-decouple = "*"
dj-database-url = "*"
dj-static = "*"

[dev-packages]

[requires]
python_version = "3.8"
